<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aegis.aegisd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/aegisd</string>
		<string>-config</string>
		<string>/etc/aegis/config.yaml</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/aegisd.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/aegisd.err</string>
</dict>
</plist>
